body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}
td img{
 width: 200px;
 height: auto;
}
#output{
    width: 300px;
    background-color: red;
    height: auto;
    margin: 20px auto;
    text-align: center;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#customer-records{
    padding: 10px 14px;
    background-color: rebeccapurple;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    margin: auto;
    border-radius: 25px;
    border: 2px solid red;
    outline: none;
}